<div class="page-content">
    <div ng-include="'views/top-toolbar.html'"></div>
    <div class="event-list">
        <div class="custom-nav">イベント一覧</div>
        <div class="event-year">
            <span class="this-year"> 今年</span>
            <span> <input type="number" maxlength="4" class="year" /> 年</span>
        </div>
        <table class="list-box">
            <thead>
                <tr>
                    <td> 店舗名 </td>
                    <td> カテゴリ</td>
                    <td> </td>
                </tr>
            </thead>

            <tbody>
                <tr ng-repeat="i in [1, 2, 3, 4, 5, 1, 2] track by $index">
                    <td></td>
                    <td></td>
                    <td><button class="btn btn-default btn-sm" ng-click="fnPageMove('event_detail', {id:i})">詳細</button></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div id="map_canvas" class="half-map"></div>

    <div class="bottom-buttons ">
        <div class="col-xs-3 col-xs-offset-9">
            <div class="btn btn-default btn-sm" ng-click="fnPageMove('main_screen')"> 閉じる</div>
        </div>
    </div>

</div>