<div class="page-content">
    <div ng-include="'views/top-toolbar.html'"></div>
    <div class="shop-list">
        <div class="custom-nav">店舗一覧</div>
        <div class="shop-category">
           <div class="row">
               <div class="col-xs-2">飲食</div>
               <div class="col-xs-3">買い物</div>
               <div class="col-xs-2">医療</div>
               <div class="col-xs-2">育児</div>
               <div class="col-xs-3">その他</div>
           </div>
            <div class="row">
                <div class="col-xs-3">ア～サ行</div>
                <div class="col-xs-3">タ～ハ行</div>
                <div class="col-xs-3">マ～ワ行</div>
                <div class="col-xs-3">その他</div>
            </div> 
        </div>
        
        
        <table class="list-box">
            <thead>
                <tr>
                    <td> 店舗名 </td>
                    <td> カテゴリ</td>
                    <td> </td>
                </tr>
            </thead>

            <tbody>
                <tr ng-repeat="s in shops">
                    <td>{{s.name}}</td>
                    <td>{{s.shop_type.name}}</td>
                    <td><button class="btn btn-default btn-sm" ng-click="fnPageMove('shop_detail', {id: s.id})">詳細</button></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div id="map_canvas" class="half-map"></div>

    <div class="bottom-buttons ">
        <div class="col-xs-3 col-xs-offset-9">
            <div class="btn btn-default btn-sm" ng-click="fnPageMove('main_screen')"> 閉じる</div>
        </div>
    </div>

</div>